@model MonPanier.Models.Categorie

@{
    ViewBag.Title = "Delete";
}

<div class="page-header">
    <h1>Supprimer<small> </small></h1>
</div>


<h3>Etes-vous sûr de vouloir supprimer cette catégorie ?</h3>
<div>
    <hr />

    <div class="alert alert-dismissable alert-danger">
        <strong>@Html.DisplayNameFor(model => model.Nom)</strong>  @Html.DisplayFor(model => model.Nom)
    </div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste des catégories", "Index")
        </div>
    }
</div>
