@model MonPanier.Models.Categorie

@{
    ViewBag.Title = "Details";
}


<div class="page-header">
    <h1>Details <small> </small></h1>
</div>

<div>
    <h4>Categorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategorieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
