body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    margin-top:0;
    margin-bottom:5px;
}
.page-header h1 {
    margin-top:0;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

#acceuil{
    background-image : url("/images/img5_zoom.jpg");
    background-repeat : no-repeat;
}

#titrejum
{
    background-color: rgba(255, 255, 255, 0.8);
    padding : 10px 0px 10px 30px;
}

.jumbotron h1{
    margin : 5px auto;
}