@model MonPanier.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}

<div class="page-header">
    <h1>Modifier mon Magasin <small> </small></h1>
</div>

@using (var f = Html.Bootstrap().Begin(new Form()))
{
    @f.FormGroup().TextBoxFor(x => x.NomMagasin).Placeholder("Nom du magasin")
    @f.FormGroup().TextAreaFor(x => x.DescriptionMagasin).Placeholder("Description du magasin")
    @Html.Bootstrap().SubmitButton().Text("Modifier")
}