@model MonPanier.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (var f = Html.Bootstrap().Begin(new Form()))
{
    @f.FormGroup().TextBoxFor(x => x.NomMagasin).Placeholder("Nom du magasin")
    @f.FormGroup().TextAreaFor(x => x.DescriptionMagasin).Placeholder("Description du magasin")
    @Html.Bootstrap().SubmitButton()
}