@{
    ViewBag.Title = "A Propos";
}
<h2>@ViewBag.Title</h2>

<h3>Partage et consommation consciente </h3>
<div>
    La consommation partagée a aujourd’hui du succès (par exemple le co-voiturage, le site groupon) c’est dans cette tendance que nous souhaitons inscrire notre site ! <br /><br />

   Partage ton potage est basé sur l’idée d’un site e-commerce pour l’achat de produits frais locaux, comme les fruits et légumes ou des produits transformés.<br />
   Vous pouvez acheter les produits proposés et vendre les votres au tarif que vous souhaitez!<br />
   Le but est de pouvoir partager sa production avec d’autres personnes proches et de pouvoir profiter du surplus de vos voisins.<br />   
</div>

<h3>A qui s'adresse ce projet ?</h3>
<div>
    Notre site s’adresse à des particuliers désirant créé un lien direct avec d’autres consommateurs et producteurs locaux. <br />
    Ce site peut aussi bien s’adresser à des citadins souhaitant consommer des produits locaux ou à des personnes plus rurales souhaitant partager leur produits ou consommer également des produits locaux. Cette démarche s’inscrit dans une notion de partage et d’une consommation consciente. <br />
    Contrairement à la grande distribution, nos utilisateurs accordent moins d'importance à la standardisation des aliments, le but est de consommé tout ce qui est produit. Ce principe est d'une part très valorisant pour le producteur, et d'autre part il permet de diminuer le prix des denrées en achetant les produits directement au producteur.
</div>

<h3>Comment fonctionne le site ?</h3>
<div>
    Chaque utilisateur est libre d'ouvrir son "Magasin" sur le site et de vendre ses produits. <br/>
    Les utilisateur souhaitant acheter cherchent les produits dans leur région et les ajoutent à leur panier pour passer commande. <br/>
    Aucun paiement n'est fait en ligne. Un rendez-vous est fixé dans chaque ville pour le remise des produits et le paiement en mains propres ! <br/>
</div>
