@{
    ViewBag.Title = "Nous contacter";
}
<h2>@ViewBag.Title</h2>

Vous souhaitez contacter l'équipe de Partage ton Potage, indiquez-nous pourquoi :

<ul>
    <li>Vous avez </li>
    <li>Vous avez un bug sur le site, ou une suggestion à faire</li>
    <li>Vous avez un problème avec votre compte en particulier</li> 
</ul>


<address>
   Partage ton Potage<br />
    151 Rue des Universités<br />
    38400 Saint-Martin-d'Hères <br/>
    <abbr title="Téléphone">Tel:</abbr>
    04 76 82 54 00
    
</address>

<address>
    <strong>Support technique:</strong>   <a href="mailto:Support@partagetonpotage.com">support@partagetonpotage.com</a><br />
    <strong>Service marketing:</strong> <a href="mailto:Marketing@partagetonpotage.com">marketing@partagetonpotage.com</a>
</address>