@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="acceuil">
    <div id="titrejum">
        <h1>Partage ton Potage</h1>
        <p class="lead">Partage ton Potage permet de vous réunir pour acheter directement aux producteurs de votre région.</p>
        <p>
            @Html.Bootstrap().ActionLinkButton("En Savoir plus", "About").PrependIcon("glyphicon glyphicon-info-sign").Style(ButtonStyle.Primary)
        </p>
    </div>
</div>

<div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="/images/oranges.jpg" alt="">


                <div class="caption">
                    <h4 class="pull-right">3</h4>
                    <h4>
                        <p> Orange bio</p>
                    </h4>
                    <p>Variété : Navel (produit vendu au kilo)</p>

                </div>
              
                <div class="ratings">
                    <p>Fruits</p>
                    <p class="pull-right">3 avis</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>


    <div class="col-md-4">
        <img src="/images/carte.png" alt="">
        <p>
        @Html.Bootstrap().ActionLinkButton("Commander", "Index", "Commander").Style(ButtonStyle.Primary).ButtonBlock()
        </p>
    </div>
    <div class="col-md-4">
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
</div>